.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
.machines-images {
    display: flex;
    transition: transform 0.5s ease;
}

.machines-images img {
    width: 100%;
    flex-shrink: 0;
}