.contactBox{
    height: 75vh;
}
@media (min-width: 1024px) {
    .infoContact, .contactForm {
        width: 350px;
        height: 400px;
    }
}
@media (max-width: 1024px) {
    .contactBox{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .contactBox p{
        font-size: var(--font-size);
    }
    .infoContact, .contactForm{
        width: 90%;
        height: 50%;
    }
    .contactBox p img{
        width: 100px;
        height: 100px;
    }
}
.infoContact div{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infoContact, .contactForm{
    justify-content: normal;
}